<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="/list-barang">
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama Barang</label>
                  <input type="text" class="form-control" id="nama" name="nama" placeholder="ex: sikat gigi" required>
                </div>
                <div class="mb-3">
                  <label for="harga" class="form-label">Harga</label>
                  <input type="text" class="form-control" id="harga" name="harga" placeholder="ex: 4000" required>
                </div>
                <div class="mb-3">
                  <label for="keterangan" class="form-label">Keterangan (optional)</label>
                  <input type="text" class="form-control" id="keterangan" name="keterangan" placeholder="ex: beli di indomaret">
                </div>
               
                <button type="submit" class="btn btn-primary">Tambah Barang</button>
              </form>
        </div>
    </div>
</div>